[run]
branch = True
source = maya_umbrella
relative_files = true

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    def __repr__
    if TYPE_CHECKING:
    @abstract
ignore_errors = True
omit =
    tests/*
    maya_umbrella/_vendor/*
    maya_umbrella/maya_funs.py
    maya_umbrella/hooks/*

[xml]
output = coverage.xml
