[run]
branch = True
source = maya_umbrella

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
    maya_umbrella/maya_funs.py
